body {
    font-family: sans-serif;
    font-size: 2.5em;
    font-weight: normal;
}

h1 {
    text-align: center;
}

h2 {
    padding-top: 0.5em;
}

h3 {
    padding-top: 0.5em;
}

ol {
    text-align: left;
    padding-top: 0.5em;
}

ul {
    text-align: left;
}

pre {
    text-align: left;
    padding-top: 0.5em;
}

code {
    font-size: 0.8em;
}

p {
    text-align: left;
    padding-top: 1em;
}

.content {
    text-align: left;
}

.container {
    text-align: center;
}

.center {
    text-align: center;
}

.ref {
    font-size: 0.5em;
}

div.title {
    text-align: center;
}

span.sup {
    vertical-align: super;
    font-size: 0.5em;
}